:host {
  height: 100%;
  display: flex;
  align-items: stretch;
}
.column-layout {
  overflow: auto;
  padding: 32px;
  background-color: transparent;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex: 1 1 0;
}
.row-layout {
  background-image: url("/assets/FinancialChart2.png");
  background-repeat: no-repeat;
  align-items: stretch;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex: 1 1 0;
}
.combo {
  margin: 0 0 24px;
  height: max-content;
  min-width: min-content;
}
.select {
  height: max-content;
  min-width: min-content;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
