:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.navigation-bar {
  height: max-content;
  min-width: min-content;
}
.views-container {
  min-width: 0;
  flex: 1 1 auto;
  position: relative;
  min-height: 0;
}
.navigation-drawer {
  width: 320px;
  flex: 0 0 auto;
  min-width: min-content;
  min-height: 0;
}
.navigation-drawer_1 {
  text-overflow: ellipsis;
  overflow: hidden;
}
.column-layout {
  align-items: center;
  min-width: 50px;
  min-height: 50px;
}
.row-layout {
  position: relative;
  flex: 1 1 0;
  align-items: stretch;
  min-width: 50px;
  min-height: 50px;
}
.column-layout_1 {
  min-width: 400px;
  margin: 48px 32px 32px;
  align-items: stretch;
  min-height: 50px;
}
.login-dialog {
  min-width: 0;
  min-height: 0;
}
.avatar {
  margin: 0 0 24px;
}
.title {
  margin: 0 0 40px;
  white-space: pre-wrap;
  height: max-content;
  min-width: min-content;
}
.link {
  margin: 0 0 32px;
  color: var(--igx-grays-700);
  height: max-content;
  min-width: min-content;
}
.button {
  margin: 0 0 24px;
  height: max-content;
  min-width: min-content;
}
.user-input {
  margin: 0 0 16px;
  height: max-content;
  min-width: min-content;
}
.button_1 {
  height: max-content;
  min-width: min-content;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
