:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
}
.column-layout {
  overflow: auto;
  padding: 32px;
  min-height: 50px;
  background-color: transparent;
  align-items: stretch;
  position: relative;
  flex: 1 1 0;
  min-width: 50px;
}
.row-layout {
  min-height: 80px;
  align-items: center;
  min-width: 50px;
}
.column-layout_1 {
  min-width: 100px;
  margin: 0 16px 0 0;
  align-items: stretch;
  position: relative;
  flex: 1 1 0;
}
.column-layout_2 {
  margin: 0 16px 0 0;
  align-items: stretch;
  position: relative;
  flex: 1 1 0;
}
.row-layout_1 {
  height: 30px;
  align-items: center;
  min-width: 50px;
}
.column-layout_3 {
  min-width: 50px;
}
.input-group {
  margin: 0 0 24px;
  height: max-content;
}
.button {
  min-width: min-content;
  height: max-content;
  flex: 0 0 auto;
}
.icon {
  height: 24px;
  width: 24px;
  color: var(--igx-error-500);
  font-size: 24px;
  flex: 0 0 auto;
}
.list {
  height: auto;
}
.list-item {
  min-width: 0;
  min-height: 0;
}
.avatar {
  margin: 0 16px 0 0;
}
.text {
  min-width: 200px;
  height: max-content;
  white-space: pre-wrap;
}
.text_1 {
  color: var(--igx-error-500);
  min-width: min-content;
  height: max-content;
  white-space: pre-wrap;
}
.text_2 {
  color: var(--igx-grays-900);
  min-width: min-content;
  height: max-content;
  white-space: pre-wrap;
}
.text_3 {
  margin: 0 0 4px;
  color: var(--igx-grays-600);
  min-width: min-content;
  height: max-content;
  white-space: pre-wrap;
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
