<div class="row-layout row">
  <button igxButton="outlined" [disabled]="false" class="button">
    <igx-icon>refresh</igx-icon>
    <span>Reload Data</span>
  </button>
  <button igxButton="raised" [disabled]="false" class="button_1">
    <igx-icon>grid_on</igx-icon>
    <span>Export to Excel</span>
  </button>
</div>
<igx-grid [data]="northwindOrders" [autoGenerate]="false" displayDensity="cosy" primaryKey="orderDate" class="grid">
  <igx-column field="orderID" header="orderID" title="orderID" dataType="number"></igx-column>
  <igx-column field="customerID" header="customerID" title="customerID" dataType="string"></igx-column>
  <igx-column field="employeeID" header="employeeID" title="employeeID" dataType="number"></igx-column>
  <igx-column field="orderDate" header="orderDate" title="orderDate" dataType="date"></igx-column>
  <igx-column field="requiredDate" header="requiredDate" title="requiredDate" dataType="date"></igx-column>
  <igx-column field="shippedDate" header="shippedDate" title="shippedDate" dataType="date"></igx-column>
  <igx-column field="shipVia" header="shipVia" title="shipVia" dataType="number"></igx-column>
  <igx-column field="freight" header="freight" title="freight" dataType="number"></igx-column>
  <igx-column field="shipName" header="shipName" title="shipName" dataType="string"></igx-column>
  <igx-column field="shipAddress.street" header="street" title="shipAddress.street" dataType="string"></igx-column>
  <igx-column field="shipAddress.city" header="city" title="shipAddress.city" dataType="string"></igx-column>
  <igx-column field="shipAddress.region" header="region" title="shipAddress.region" dataType="string"></igx-column>
  <igx-column field="shipAddress.postalCode" header="postalCode" title="shipAddress.postalCode" dataType="string"></igx-column>
  <igx-column field="shipAddress.country" header="country" title="shipAddress.country" dataType="string"></igx-column>
</igx-grid>
